.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background: rgba(211, 202, 202, 0.142);
    box-shadow: 10px 10px 10px rgba(173, 173, 173);
}
.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;

}
.cardLeft_heading{
   font-weight: bold;
   font-size: 1.8rem; 
}
.cardContainer_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4;
    font-size: 1.3rem;
    background: rgb(78, 78, 247);
    justify-content: center;
    align-items: center;
    color: white;
}
.inputContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 12px;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1.3rem;
    flex-wrap: wrap;
}

.inputField {
    padding: 0.8rem 1.3rem;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.inputField:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.button{
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color:white;
    background-color: #124479;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    border-radius: 5px;
}





