.scrollComponent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.fab > svg{
    width: 40px;
    height: 40px;
}
.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(51, 0, 128);
    border-radius: 100%;
    color: white;
}
.createPostContainer{
    display: flex;
    height: 10svh;
    width: 95%;
    padding-inline: 0.8rem;
    position: relative;
    gap: 1.3rem;
    align-items: center;
    background: rgba(255, 250, 250, 0.779);
}
.createPostContainer > textarea {
    width: 100%;
}
.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}
.textArea{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}
.uploadButton{
    position: absolute;
    right: 0;
    bottom: -20px;
    background: rgb(51, 0, 128);
    border-radius: 10%;
    color: white;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    cursor: pointer;
}
.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black !important;
}
.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}
.singleCard_profileContainer > img {
    width: 20%;
    border-radius: 50%;
}
.singleCard_image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard_image>img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}
.optionsContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.singleOPtion{
    display: flex;
    height: 20%;
    width: 100%;
}
.singleOptions_optionsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.singleOptions_optionsContainer>svg{
    height: 100%;
    width: 15%;
}
.getComments{
    position:absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}
.allCommentsContainer{
    width: 80vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
}
.postCommentContainer{
    position: absolute;
    bottom:1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.postCommentContainer > input{
    margin-left: 5%;
    flex: 0.95;
    padding-inline: 1rem;
    padding-block: 1rem;
    border: none;
    background-color: rgb(228, 228, 228);
}
.postCommentContainer > input:focus{
    border: 1px solid silver
}
.postCommentContainer_commentBtn{
    flex: 0.05;
    width: fit-content;
    padding: 0.8rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    background: orange;
}


