.userCard{
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.userCard > img {
    width: 15%;
    border-radius: 50%;
}
