.userCard{
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.profilePicture > img{
    width: 6.5rem;
    border-radius: 50%;
}
.connectionButton{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid black;
    outline: none;
    color: rgba(48, 179, 227, 0.587);
    border-radius: 10px;
    cursor: pointer;
}